{% extends "base.html" %}
{% block content %}
<div class="card p-3">
  <h5>إضافة منتج جديد</h5>
  <form method="post">
    <div class="mb-2">
      <label>كود المنتج</label>
      <input name="product_id" value="{{ next_id }}" class="form-control" required>
    </div>
    <div class="mb-2">
      <label>اسم المنتج</label>
      <input name="product_name" class="form-control" required>
    </div>
    <div class="mb-2">
      <label>السعر</label>
      <input name="product_price" class="form-control" required>
    </div>
    <div class="mb-2">
      <label>الكمية</label>
      <input name="product_quantity" class="form-control" required>
    </div>
    <div class="mb-2">
      <label>الفئة</label>
      <input name="product_category" class="form-control">
    </div>
    <div class="mb-2">
      <label>الباركود</label>
      
      <input name="product_barcode" value="{{ barcode }}" class="form-control">
    </div>
    <div class="mb-2">
      <label>الوصف</label>
      <textarea name="product_description" class="form-control"></textarea>
    </div>
    <button class="btn btn-primary">إضافة المنتج</button>
  </form>
</div>
{% endblock %}
